{% extends 'orders/header.html' %} {% block content %}
<div class="container-fluid">
    <div class="content my-3 px-2">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3><u>Our Contact Details 请联系我们</u></h3>
                </div>
                <div class="row justify-content-center">
                    <p>Click below 点击联络方式:</p>
                </div>
                <div class="row justify-content-center">
                    <p>Whatsapp<a href="https://wa.me/+601121777295"> Mr Zac</a></p>
                </div>
                <div class="row justify-content-center">
                    <p>Whatsapp<a href="https://wa.me/+60169450610"> Mr Ming</a></p>
                </div>
                <div class="row justify-content-center">
                    <p>Facebook<a href="https://www.facebook.com/SeaFuuEnterprise"> @SeaFuu Trading and Aquaculture</a></p>
                </div>
                <div class="row justify-content-center">
                    <p>Instagram<a href="https://www.instagram.com/seafuu_wholesale/"> @seafuu_wholesale</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}