{% extends 'orders/header.html' %} {% block content %}
<div class="container-fluid">
    <div class="content my-3 px-2">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3><u>Today's Fresh Ingredient 今日新鲜食材</u></h3>
                </div>
                <div class="row justify-content-center">
                    <p>This is a table for superuser to edit</p>
                </div>
                <div class="row justify-content-center">
                    <p>Kitchen user can reduce the quantity of this table.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}